$primary: hsl(171, 100%, 41%);

.Footer {
    height: 275px;
    background-color: $primary!important;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    
    .picContainer {
        border-radius: 50%;
        background-color: white;
        font-size: 3rem;
        margin: 10px auto;
        width: 30%;
        padding: 3.5%;
        text-align: center;
        color: #4a4a4a!important;
    }

    .contentContainer {
        color: #4a4a4a!important;

        h5 {
            color: white!important;;
        }

        p {
            font-weight: 500;
        }
    }

    .FooterItem:hover {
        transform: scale(1.1);
    }

}